body {
  background-color: lightgray;
}

.iconoPagina a img {
  width: 100px;
  height: 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  padding: 15px;
}

.secciones {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemSecciones {
  margin-right: 25px;
}

.navLink {
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.navLink.active {
  font-size: 30px;
  color: black;
  text-decoration: underline;
}

.carrito img {
  width: 50px;
  height: 50px;
}

.infoCarrito{
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.contenedorItems {
  margin: 5px 0px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; 
}

.cardItem {
  background-color: white;
  border: 1px solid darkgray;
  padding: 5px;
  margin: 15px 5px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  line-height: 1.5;
}

.cardItem img {
  width: auto;
  height: 200px;
  object-fit: fill;
}

.cardItem div {
  text-align: center;
  padding: 10px;
}

.cardItem p {
  font-size: larger;
  margin: 10px 0;
  text-align: center;
  padding: 0;
}

.cardItem p:nth-last-of-type(1) {
  color: red;
  font-size: x-large;
}

.cardItem div:nth-last-of-type(1){
  font-size:larger;
  background-color: red;
  color: white;
  padding: 10px 40px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
}

.cardItem p:nth-child(2) {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.contenedorGeneralDetalles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.contenedorDetallesProducto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 800px;
  height: 600px;
  background-color: white;
}

.contenedorDetallesProducto div:nth-last-of-type(1){
  padding: 5px;
  margin: 5px;
}

.contenedorDetallesProducto div {
  padding: 10px 20px;
}

.contenedorDetallesProducto p {
  font-size: large;
  font-weight: bold;
}

.contenedorDetallesProducto img {
  width: auto;
  height: 350px;
  object-fit: fill;
}

.contenedorContador {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
}

.contenedorContador p {
  margin: 0px 10px;
}

.botonContador:hover {
  cursor: pointer;
}

.contenedorBotonDetalles {
  display: flex;
  justify-content: right;
  margin: 10px;
}

.contenedorBotonDetalles button {
padding: 10px 25px;
margin: 10px 0;
}

/* Styles carrito */
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-items-container {
  display: flex;
  flex-direction: column;  
  background-color: white;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  border: 2.5px solid black;
  padding: 20px;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 10px;
}

.cart-item-details {
  flex: 1;
}

.cart-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.cart-total {
  text-align: right;
  font-size: 1.5em;
  font-weight: bold;
}

.cart-item-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clear-cart-button {
  padding: 10px;
  color: black;
  font-size: small;
  border: none;
  margin-left: auto;
}

.remove-item-button {
  padding: 5px;
  color: black;
  font-size: small;
  border: none;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-field {
  margin-bottom: 1em;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

input {
  padding: 0.5em;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 20em;
}

.checkout-button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  margin-top: 10px;
  align-self: flex-end;
}

.clickeable:hover {
  cursor: pointer;
}


/* Styles agregados */
.loadingspinner {
  --square: 26px;
  --offset: 30px;
  --duration: 2.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc( 3 * var(--offset) + var(--square));
  height: calc( 2 * var(--offset) + var(--square));
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 30px;
  position: relative;
}

.loadingspinner div {
  display: inline-block;
  background: darkorange;
    /*background: var(--text-color);*/
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
  border: none;
  border-radius: 2px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc( 0 * var(--offset) );
  top: calc( 0 * var(--offset) );
  animation: square1 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc( 0 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square2 var(--duration) var(--delay) var(--timing-function) infinite,
              squarefadein var(--in-duration) calc(1 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc( 1 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square3 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(2 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc( 2 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square4 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(3 * var(--in-delay)) var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc( 3 * var(--offset) );
  top: calc( 1 * var(--offset) );
  animation: square5 var(--duration) var(--delay) var(--timing-function) infinite,
               squarefadein var(--in-duration) calc(4 * var(--in-delay)) var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  8.333% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  100% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes square2 {
  0% {
    left: calc( 0 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  8.333% {
    left: calc( 0 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  16.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  25.00% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  83.33% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  91.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  100% {
    left: calc( 0 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }
}

@keyframes square3 {
  0%,100% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  16.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  25.00% {
    left: calc( 1 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  33.33% {
    left: calc( 2 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  41.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  66.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  75.00% {
    left: calc( 2 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  83.33% {
    left: calc( 1 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  91.67% {
    left: calc( 1 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes square4 {
  0% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  33.33% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  41.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  50.00% {
    left: calc( 3 * var(--offset) );
    top: calc( 2 * var(--offset) );
  }

  58.33% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  100% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes square5 {
  0% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  50.00% {
    left: calc( 3 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  58.33% {
    left: calc( 3 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  66.67% {
    left: calc( 2 * var(--offset) );
    top: calc( 0 * var(--offset) );
  }

  75.00% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }

  100% {
    left: calc( 2 * var(--offset) );
    top: calc( 1 * var(--offset) );
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0.0;
  }

  100% {
    transform: scale(1.0);
    opacity: 1.0;
  }
}